<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cokeagency.codembeded.com</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://cokeagency.codembeded.com:8172/msdeploy.axd?site=cokeagency.codembeded.com</MSDeployServiceURL>
    <DeployIisAppPath>CokeAgency.codembeded.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>fahadbutt</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=.;Initial Catalog=RehmatAgency;Integrated Security=False;User ID=RehmatAgency;Password=Rehmat@404" Name="Data Source=.;Initial Catalog=RehmatAgency;Integrated Security=False;User ID=RehmatAgency;Password=Rehmat@404;MultipleActiveResultSets=true;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AgencyBizBook.Models.ApplicationDbContext, AgencyBizBook" MigrationConfiguration="AgencyBizBook.Migrations.Configuration, AgencyBizBook" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=RehmatAgency;Integrated Security=False;User ID=RehmatAgency;Password=Rehmat@404;MultipleActiveResultSets=true;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>